*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Raleway";
}
body{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}
.imagen-fondo2{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/historia-programacion.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding-top: 100px;
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    opacity: 0.8;
}
.titulo{
    font-family: "Raleway";
    font-size: 4.2rem;
    cursor: default;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 3px 1px #808080,
                 8px 8px 0px #000000;
    
}
.header{
    position: fixed;
    padding: 1rem 0;
    font-size: 1.6rem;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: transparent;
    transition: all 0.5s linear 0s;
    z-index: 10;
}
.cambiar-color-header{
    background-color: #ffffff;
}
.header a{
    color: #ffffff;
    text-decoration: none;
}
.logo{
    padding-left: 80px;
}
.logo-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.links li a{
    position: relative;
    margin: 0px 20px;
    padding: 0.5rem 0.5rem;
    text-shadow: 2px 2px 1px #2f3645b3,
                 3px 3px 2px #2f3645;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.5s;
}
.links ul li a:hover{
    text-shadow: none;
    transform: translateX(-1%);
}
.links li a.scroll-sombra{
    text-shadow: 2px 2px 1px #ffffff, 3px 3px 2px #808080;
}
.section{
    margin: 50px;
    padding: 150px 40px;
    display: flex;
    justify-content: space-between;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.imagen{
    flex: 1; 
    padding: 10px;
}
  
.imagen img{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px; 
}

.texto{
    flex: 1;
    padding: 10px;
}
  
.texto h2{
    font-size: 3rem;
    cursor: default;
    color: #2f3645;
    text-shadow: 2px 2px 1px #ffffff,
                 3px 3px 2px #808080;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 2.2px;
    font-weight: bold;
}
  
.texto p{
    padding: 20px;
    text-align: left;
    font-weight: 600;
    letter-spacing: 1.1px;
    color: #2f3645;
    cursor:default;
}
h1{
    font-size: 3rem;
    cursor: default;
    color: #2f3645;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px;
    padding-top: 100px;
    text-shadow: 2px 2px 1px #ffffff,
                 3px 3px 2px #808080;
}

.video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2f3645;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 80%;
    max-width: 900px; 
    margin: 0 auto; 
}
.video-portada {
    position: relative;
    width: 100%;
    height: auto;
}
.video-portada img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.3s;
}
video{
    display: none;
    width: 100%;
    border-radius: 8px;
}
.controls{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}
.buttons{
    display: flex;
    align-items: center;
    display: none;
}
.btn{
    background-color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}
.time{
    font-size: 16px;
    color: #ffffff;
}
.time span{
    font-weight: bold;
    padding-left: 5px;
}
.footer{
    background-color: #2f3645;
    width: 100%;
    margin: 200px 0;
    padding: 80px 15px;
    display: flex;
    align-items: center;
    border-top: 1px solid #808080;
}
.contefooter{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
.izq{
    display: flex;
    align-items: center;
}
.izq img{
    max-width: 120px;
    margin-right: 15px;
}
.izq strong{
    color: #ffffff;
    font-weight: 700;
}
.derecha{
    margin-left: auto;
    text-align: right;
    padding-top: 38px;
}
.derecha p{
    color: #ffffff;
}
